<div class="row">
    <div class= "col-md-3">
        <h3>Rooms:</>
        <ul>
            <li>
                General
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h2>Welcome to chat app</h2>
        </div>
    </div>
</div>